In [1]:
#ignoring warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
#importing required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
%matplotlib inline

In [3]:
# setting display option for pandas for columns
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",None)

In [5]:
india_daily = pd.read_csv("case_time_series (1).csv")

In [6]:
india_daily.head()

,Date,Date_YMD,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
0,30 January 2020,2020-01-30,1,1,0,0,0,0
1,31 January 2020,2020-01-31,0,1,0,0,0,0
2,1 February 2020,2020-02-01,0,1,0,0,0,0
3,2 February 2020,2020-02-02,1,2,0,0,0,0
4,3 February 2020,2020-02-03,1,3,0,0,0,0

In [7]:
india_daily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             594 non-null    object
 1   Date_YMD         594 non-null    object
 2   Daily Confirmed  594 non-null    int64
 3   Total Confirmed  594 non-null    int64
 4   Daily Recovered  594 non-null    int64
 5   Total Recovered  594 non-null    int64
 6   Daily Deceased   594 non-null    int64
 7   Total Deceased   594 non-null    int64
dtypes: int64(6), object(2)
memory usage: 37.2+ KB

In [8]:
india_daily.drop(columns='Date', inplace=True)

In [9]:
india_daily['Date_YMD'] = pd.to_datetime(india_daily['Date_YMD'], infer_datetime_format=True)
india_daily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date_YMD         594 non-null    datetime64[ns]
 1   Daily Confirmed  594 non-null    int64
 2   Total Confirmed  594 non-null    int64
 3   Daily Recovered  594 non-null    int64
 4   Total Recovered  594 non-null    int64
 5   Daily Deceased   594 non-null    int64
 6   Total Deceased   594 non-null    int64
dtypes: datetime64[ns](1), int64(6)
memory usage: 32.6 KB

In [10]:
vaccine_data = pd.read_csv("vaccine_doses_statewise_v2.csv")
vaccine_data.head()

,Vaccinated As of,State,First Dose Administered,Second Dose Administered,Total Doses Administered
0,16/01/2021,Andaman and Nicobar Islands,225,0,225
1,16/01/2021,Andhra Pradesh,18412,0,18412
2,16/01/2021,Arunachal Pradesh,829,0,829
3,16/01/2021,Assam,3528,0,3528
4,16/01/2021,Bihar,18169,0,18169

In [11]:
vaccine_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9120 entries, 0 to 9119
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Vaccinated As of          9120 non-null   object
 1   State                     9120 non-null   object
 2   First Dose Administered   9120 non-null   int64
 3   Second Dose Administered  9120 non-null   int64
 4   Total Doses Administered  9120 non-null   int64
dtypes: int64(3), object(2)
memory usage: 356.4+ KB

In [14]:
vaccine_data.rename(columns = {'Vaccinated As of':'Date'}, inplace=True)

In [15]:
#Converting date ibject type to datetime
vaccine_data.Date = pd.to_datetime(vaccine_data.Date, infer_datetime_format=True)
vaccine_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9120 entries, 0 to 9119
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      9120 non-null   datetime64[ns]
 1   State                     9120 non-null   object
 2   First Dose Administered   9120 non-null   int64
 3   Second Dose Administered  9120 non-null   int64
 4   Total Doses Administered  9120 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 356.4+ KB

In [16]:
vaccine_data.head()

,Date,State,First Dose Administered,Second Dose Administered,Total Doses Administered
0,2021-01-16,Andaman and Nicobar Islands,225,0,225
1,2021-01-16,Andhra Pradesh,18412,0,18412
2,2021-01-16,Arunachal Pradesh,829,0,829
3,2021-01-16,Assam,3528,0,3528
4,2021-01-16,Bihar,18169,0,18169

### Dropping First Administerd Dose as it will be of no use for immunity

In [17]:
vaccine_data.drop(columns=['First Dose Administered', 'Total Doses Administered'], inplace=True)
vaccine_data.head()

        Date                        State  Second Dose Administered
0 2021-01-16  Andaman and Nicobar Islands                         0
1 2021-01-16               Andhra Pradesh                         0
2 2021-01-16            Arunachal Pradesh                         0
3 2021-01-16                        Assam                         0
4 2021-01-16                        Bihar                         0